.root {
    -fx-background-color: #063320;
}

.label {
    -fx-text-fill: springgreen;
    -fx-font-size: 16px;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}

.button {
    -fx-font-size: 16px;
    -fx-background-color: springgreen;
    -fx-text-fill: #063320;
    -fx-text-alignment: CENTER;
}
